{
   
  "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      "@babel/plugin-transform-export-namespace-from"

    ],
    
    
    }
  
  // {
  //   "env": {
  //     "production": {
  //       "plugins": ["transform-remove-console"]
  //     }
  //   }
  // }
  